.container {
  width: 50%;
  height: 50%;
  border: 1px solid red;
  position: relative;
}
.container img {
  position: absolute;
}

#face{
  height: 100%;
  top: 0;
  left: 0;
}

#eyes{
  width: 30%;
  top: 35%;
  left: 25%;
}

#mouth{

}
#nose{

}
#ears{
  width: 70%;
  top: 10%;
  left: 5%;
}

#hair{
  width: 50%;
  top: 0;
  left:25%;

}
